@import 'config'; 
@import 'menu';
body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background:linear-gradient(
        to bottom, rgba(grey, 0.3), rgba(black, 0.9)
    );
    text-align: center;
    color: $mainColor;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#gamesContainer{
    width: 80vw;
    height: 80vh;
    background-color: transparent;
    display: flex;
    flex-wrap: wrap;
    position: fixed;
    align-items: center;
    justify-content: space-around;
    left: 10vw;
    bottom: 5vh;
}
#memory{
    background-image: url('../img/gamesIcons/memory.jpg');
}
#frogger{
    background-image: url('../img/gamesIcons/frogger.jpg');
}
#spaceInvaders{
    background-image: url('../img/gamesIcons/spaceInvaders.jpg');
}
#mole{
    background-image: url('../img/gamesIcons/mole.jpg');
}
.game{
    @include transition;
    width: 40%;
    height: 40%;
    background-size: cover;
    &:hover{
        @include transition;
        transform: scale(1.1);
        cursor: pointer;
    }
}
#social-icons{
    position: fixed;
    bottom: 0.5rem ;
    left: 0.5rem;
    a{
        @include transition;
        color: $mainColor;
        margin: 0.4rem;
       &:hover{
        color: $secondColor;
        @include transition;
       } 
    }
}
